li { list-style-type: none;}

a {text-decoration: none;}

.ing {border-radius: 50%;}

.wrapper {display: flex; justify-content: ;}

.nav {background-color: rgb(134, 134, 145) ; height: px; width: 20%; border: 1px solid green; margin: 5px;}

.lol {border: 1px solid green;  height: 300px; width: 230px; margin: 5px;}

.info {border: 1px solid rgb(34, 40, 146); height: 400px; width: 400px; margin: 5px;}



.warden { display: flex; justify-content:right ;}

.lol1 {border: 1px solid green; height: 200px; width: 224px; align-self: ;  margin: 5px;}

.info2 {  border: 1px solid rgb(34, 40, 146); height: 250px; width: 331px; align-self: center; margin: 5px; }






