li { list-style-type: none;}

p { font-size: larger; text-align: center;
}

a {text-decoration: none;}

button { align-self: center;}

.ing {border-radius: 50%;}

.wrapper {display: flex; justify-content: ;}

.nav {background-color: rgb(134, 134, 145) ; height: px; width: 20%; border: 1px solid green; margin: 5px;}

.lol {border: 1px solid green;  height: 300px; width: 230px; margin: 5px;}

.info {border: 1px solid rgb(34, 40, 146); height: 400px; width: 600px; margin: 5px;  }



.ll { height: 70px; width: px; margin: 5px; display: flex; justify-content: space-between; flex-direction: row;}

.friends {border: 1px solid rgb(34, 40, 146); height: 100px; width: 100px;}

.photo {border: 1px solid rgb(34, 40, 146); height: 100px; width: 100px; float: right; }

.subscr {border: 1px solid rgb(34, 40, 146); height: 100px; width: 100px;}

.otm {border: 1px solid rgb(34, 40, 146); height: 100px; width: 100px;}

.vid {border: 1px solid rgb(34, 40, 146); height: 100px; width: 100px;}
